* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Passion one";
  src: url(Fontes/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
  font-family: Sriracha;
  src: url(Fontes/Sriracha/Sriracha-Regular.ttf);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: black;
  color: whitesmoke;
}

header h1 {
  font-family: Passion one;
  font-size: 5em;
}

header p {
  font-family: sans-serif;
  margin: 10px;
}

.container p {
  font-family: Sriracha;
  font-size: 1.6em;
  margin: 30px;
  padding: 20px;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: column;
}

#img1 {
  display: flex;
  align-items: center;
  height: 500px;
  background-image: url(pacote-d012/imagens/background001.jpg);
  background-position: center center;
  background-size: cover;
  color: whitesmoke;
  background-attachment: fixed;
}

#img1 p {
  background-color: rgba(0, 0, 0, 0.500);
  width: 300px;
  padding: 10px;
  text-shadow: 0px 2px black;
}

#img2 {
  display: flex;
  align-items: center;
  height: 500px;
  background-image: url(pacote-d012/imagens/background002.jpg);
  background-position: center center;
  background-size: cover;
  color: whitesmoke;
  background-attachment: fixed;
}

#img2 p {
  background-color: rgba(0, 0, 0, 0.500);
  width: 300px;
  padding: 10px;
  text-shadow: 0px 2px black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 40px;
  padding: 10px;
}

footer p {
  font-family: sans-serif;
  color: whitesmoke;
}
