@charset "UTF-8";

/* 
Em HTML é ID - Em CSS é #
Em HTML é Class - Em CSS é .
*/
body {
    background-color: #9eca83b4;
}

h1 {
    color: #324029;
}

#Principal {
    color: white;
    text-align: center;
    background-color: #548C31;
}

.basico {
    color: #548C31;
    
}



.intermediario {
    color: #7e8c31;
}

.avançado {
    color: #8c3131;
}

.destaque {
    background-color: rgba(173, 173, 48, 0.711);
}